<!DOCTYPE html>
<html>

<head>
    <title>Dogs</title>
</head>

<body>
    <div>
        <h1>Here are the awesome Dogs!</h1>
        <% if (dogs) { %>
            <% for(var x of dogs) { %>
            <!-- <p>Name : <%=  x._id %></p> -->
              <a href="/dogs/<%=  x._id %>"><p>Name : <%=  x.name %></p></a>
                <p>Age : <%= x.age %></p>
                <p>Color : <%= x.color %></p>
                <p>Type : <%= x.type %></p>
                <hr>
            <% } %>
        <% } %>
    </div>
</body>

</html>